{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Créer son compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="form-flex">
            {{ form_row(registrationForm.nom, {
                'label':'Nom',
                'attr': {'class': 'form-input'},
                'label_attr': {'class': 'form-label'},
                'row_attr': {'class': 'form-row'}
            }) }}
            {{ form_row(registrationForm.email, {
                'label':'Email',
                'attr': {'class': 'form-input'},
                'label_attr': {'class': 'form-label'},
                'row_attr': {'class': 'form-row'}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                'label':'Mot de passe',
                'attr': {'class': 'form-input'},
                'label_attr': {'class': 'form-label'},
                'row_attr': {'class': 'form-row'}
            }) }}
            {{ form_row(registrationForm.newsletter, {
                'attr': {'class': 'form-input'},
                'label_attr': {'class': 'form-label'},
                'row_attr': {'class': 'form-row'}
            }) }}
            <button type="submit" class="btn">S'enregistrer</button>
        </div>    

    {{ form_end(registrationForm) }}
{% endblock %}
